@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
body{
font-family: 'Noto Sans KR', sans-serif;
}	
/* 첫번째 콘텐츠 페이지 */
#firstContent{
	overflow: hidden;
    margin: 0 auto;
    width: 100%;
    background-color: #232222;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
#firstContent>img{
	position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
#firstContent>div .infoTitle{
    font-size: 30px;
    color: #fff;
    position: relative;
    margin: auto;
    top: 37%;
    transform: translate(0, -50%);
    border: 3px solid #fff;
    width: 240px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#firstContent>div .info{
    font-size: 30px;
    color: #fff;
    position: relative;
    margin: auto;
    top: 44%;
    width: 332px;
    transform: translate(8%, -50%);
    height: 50px;
    display: inline-block;    
    animation: up 1s;
  -moz-animation: up 1s; /* Firefox */
  -webkit-animation: up 1s; /* Safari and Chrome */
  -o-animation: up 1s; /* Opera */
  transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 3s;
    transition-property: all;
}
@keyframes up {
    from {
        opacity: 0;
        top: 50%;
    }
    to {
    	opacity: 1;
        top: 44%;
    }
}
#trainerList{
	position: absolute;
    top: 80%;
    width: 300px;
    height: 50px;
    background-color: #9b9b9b;
    text-align: center;
    line-height: 50px;
    border-radius: 12px;
    font-size: 18px;
    color: white;
}
/* 여기부터 두번째 콘텐츠 페이지 */
#secondsContent{
    margin: 0 auto;
    width: 100%;
    background-color: #232222;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
#img1{
	background-image: url(https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20230323_104%2F1679566059743SekC2_JPEG%2FD14EC84B-4421-428B-9976-1C457885913E.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-attachment: fixed;
    opacity: 0.5;
}
#secondsContent .first{
    color: white;
    width: 300px;
    border: 1px solid white;
    height: 300px;
    text-align: center;
    line-height: 75px;
    margin-right: 200px;
	font-size: 20px;
}
#secondsContent .first .infoTitle{
	font-size: 30px;
}
#secondsContent .seconds{
    color: white;
    width: 300px;
    border: 1px solid white;
    height: 300px;
    text-align: center;
    line-height: 75px;
	font-size: 20px;
}
#secondsContent .seconds .infoTitle{
	font-size: 30px;
}
#secondsContent>.infoContent{
	z-index: 1;
    display: flex;
    position: relative;
    top: 27%;
}

/* 여기부터 세번째 콘텐츠 페이지 */
#thirdContent{
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
#thirdContent>.infoContent{
	z-index: 1;
    display: flex;
    position: relative;
    top: 15%;
    flex-direction: column;
}
#thirdContent>.infoContent>.directions{
    position: absolute;
    color: black;
    font-size: 30px;
    top: -6%;
    width: 800px;
    border-bottom: 1px solid black;
}
#map{
	border: 1px solid black;
	border-bottom: none;
}
#thirdContent>.infoContent2{
	width: 800px;
    height: 130px;
    position: absolute;
    margin-bottom: -100px;
	top: 75%;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
#thirdContent>.infoContent>.bottomBar{
	width: 800px;
    height: 30px;
    float: left;
    background-color: #f9f9f9;
    border: 1px solid black;
	border-top: none;
}
#thirdContent>.infoContent>.bottomBar>a>img{
	width: 85px;
	margin: 7px;
}
#thirdContent>.infoContent2>div>span:last-child{
	font-size: 25px;
	position: absolute;
    margin-top: 2px;
}
#thirdContent>.infoContent2>div:last-child{
	font-size: 20px;
}
.phoneDiv{
	margin-left: -80px;
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 35px;
    background-color: #F0F0F0;
}
.phone{
	margin-top: 15px;
}
/* 애니메이션 콘텐츠(헬스장 웨이트존, 런닝존) */
#animationContent{
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
}
#animationContent>.menu{
    width: 100%;
    background-color: white;
    position: absolute;
    height: 500px;
    top: 20%;
    display: flex;
    justify-content: center;
}
#animationContent>.menu>.detail{
    position: relative;
    width: 400px;
    height: 500px;
    text-align: center;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
#animationContent>.menu>.detail::first-child{
	margin-right: 15px;
}
#animationContent>.menu>.detail::last-child{
	margin-left: 15px;
}
#animationContent>.menu>.detail>img{
	position: absolute;
    width: 900px;
    height: auto;
    object-fit: cover;
    margin-left: -54px;
    opacity: 0.5;
}
#animationContent>.title{
	width: 500px;
    height: 100px;
    text-align: center;
    margin-top: 30px;
}
#animationContent>.title>span{
	font-size: 32px;
    color: #a58958;
}
#animationContent>.title>p{
	margin: 5 0 0 0;	
}
#animationContent>.menu>.detail>span{
	position: absolute;
    color: white;
    z-index: 10;
    line-height: 500px;
    font-size: 36px;
}
/* 운동기구 슬라이드 구역 */
#equipmentList{
	margin: 0 auto;
    width: 100%;
    background-color: #fff;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}
#equipmentList>.title{
	width: 500px;
    height: 100px;
    text-align: center;
    margin-top: 30px;
}
#equipmentList>.title>span{
	font-size: 32px;
    color: #a58958;
}
#equipmentList>.title>p{
	margin: 5 0 0 0;		
}
#equipmentList>.slideBtn{
	position: absolute;
    top: 25%;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}
#equipmentList>.slideBtn>.slide{
    position: absolute;
    top: 25%;
    width: 1300px;
    height: 300px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    overflow: hidden;
}
#equipmentList>.slideBtn>.slide>.upSlideBox>.slideBox{
	width: 200px;
    height: 200px;
    background-color: gray;
    overflow: hidden;
    float: left;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 7px;
    position: absolute;
    top: 50px;
}
#equipmentList>.slideBtn>.left{
    position: relative;
    left: -50px;
    top: 120px;
    font-size: 60px;
    cursor: pointer;
    height: 1px;
}
#equipmentList>.slideBtn>.right{
    position: relative;
    right: -65px;
    top: 120px;
    font-size: 60px;
    cursor: pointer;
    height: 1px;
}
#equipmentList>.slideBtn>.slide>.upSlideBox>div>img{
	width:100%;
    height:100%;
    object-fit:cover;
}
#equipmentList>.slideBtn>.slide>.upSlideBox{
    left: 0%;
	position: absolute;
    width: 1300px;
}
#equipmentList>.slideBtn>.slide>.upSlideBox:first-child{
    left: -100%;
    position: absolute;
    width: 1300px;
}
#equipmentList>.slideBtn>.slide>.upSlideBox:last-child{
    left: 100%;
    position: absolute;
    width: 1300px;
}

