@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
body{
font-family: 'Noto Sans KR', sans-serif;
}	
#signUpDiv{
    margin: auto;
    text-align: center;
    margin-top: 130px;
    background-color: white;
    width: 100%;
    position: absolute;
    height: 100%;
    justify-content: center;
    display: flex;
}
.inputDiv{
    margin-top: 15px;
    border-radius: 10px;
    width: 450px;
    height: 65px;
    line-height: 65px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.inputDiv>input{
	width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    border: 2px solid #a5a5a5;
}
.inputDiv>input::placeholder{
	font-size: 15px;
}
#signUpDiv>.borderDiv{
	padding-top: 15px;
	position: relative;
    width: 500px;
    top: 12%;
    border: 3px solid #6b6b6b;
    display: flex;
    justify-content: center;
    height: 450px;
    border-radius: 9px;
}
.emailCheckBtn{
    position: relative;
    top: 6px;
    width: 182px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9d9d9d;
    background-color: #e8f3f1;
    color: black;
    font-size: 14px;
    cursor: pointer;
}
#emailNum{
	margin-top: 10px;
    position: relative;
    width: 150px;
    height: 28px;
    top: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 17px;
    visibility: hidden;
}
#emailNum::placeholder{
	font-size: 14px;
}
#signUpDiv>.borderDiv>form>.bottomDiv>.btn:last-child{
	position: relative;
    top: 26%;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    background-color: #b3b3b3;
    color: white;
    font-size: 15px;
    border: none;
    margin-top: 50px;
    display: none;
}
#emailCheck{
	color: red;
    visibility: hidden;
    position: relative;
    display: block;
    margin-top: 10px;
    font-size: 15px;
}
#pwCheck{
	color: red;
    visibility: hidden;
    position: relative;
    display: block;
    margin-top: 10px;
    font-size: 15px;
}
.bottomDiv{
	width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}